<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.boot.datasource.mapper.primary.PrimaryMapper">

    <insert id="insert" parameterType="com.yj.boot.datasource.entity.BootUser">
        INSERT INTO boot_user (name, detail)
        VALUES (#{bootUser.name}, #{bootUser.detail})
    </insert>


    <select id="selectAll" resultType="com.yj.boot.datasource.entity.BootUser">
        SELECT *
        FROM boot_user
    </select>

</mapper>