<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>websocket页面</title>
</head>
<body>


<div id="app">
    <label>输入昵称
        <input type="text" v-model="nickname" id="nickname" placeholder="输入内容"></label>
    <button @click="open">连接websocket</button>
    <div>
        <label>
            输入内容
            <input type="text" v-model="content" id="content" placeholder="输入内容">
        </label>
        <button @click="sendMsg()">发送消息</button>
    </div>
    <hr/>
    <div>{{message}}</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<script>
    const vm = new Vue({
        el: "#app",
        data() {
            return {
                ws: "",
                content: "",
                message: "显示消息",
                nickname: ""
            }
        },
        methods: {
            open() {
                if (this.nickname === "") {
                    alert("昵称不能为空");
                    return
                }
                // ws = new WebSocket(`ws://localhost:8888/websocket?nickname=${this.nickname}`)
                ws = new WebSocket(`ws://localhost:8888/websocket/1`)
                ws.onopen = () => {
                    console.log("websocket已经连接")
                }
                ws.onclose = () => {
                    console.log("websocket已关闭")
                }
                ws.onerror = () => {
                    console.log("websocket出现错误")
                }
                ws.onmessage = (msg) => {
                    console.log(msg)
                    this.message = this.message.concat(msg.data);
                }
            },
            sendMsg() {
                ws.send(this.content)
                console.log("发送成功")
                this.content = ''

            }
        }

    })
</script>

</body>
</html>